<div class="col-md-2">
  {% with path=request.path %}
    <ul class="list-group">
      <li class="list-group-item"><a href="/admin">Managements</a></li>
      <li class="list-group-item
      {% if path == '/statistics' or path == '/result_session' %}
        active
      {% endif %}
      "><a href="{% url 'result_session' %}">All sessions</a></li>
      {% load path_tags %}
      <li class="list-group-item
      {% is_video_path path %}
      "><a href="{% url 'videos' %}">Videos</a></li>
      <li class="list-group-item
      {% is_user_path path %}
      "><a href="{% url 'user_account' %}">User Accounts</a></li>
    </ul>
  {% endwith %}
</div>
