{% extends 'statistical/index.html' %}
{% block main %}
    <div class="col-md-10">
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th class="text-center">User</th>
                <th class="text-center">Session complete</th>
                <th class="text-center">Correct answers/Total clips</th>
                <th class="text-center">Overall accuracy</th>
                <th class="text-center">Accuracy most recent</th>
            </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr class="text-center">
                    <td><a href="{% url 'user_profile' user.get_user_id %}?return={{ users.number }}">
                      {{ user.get_user }}</a>
                    </td>
                    <td>{{ user.sessions_completed }}</td>
                    <td>{{ user.clips_viewed.count_question }}</td>
                    <td>{{ user.clips_viewed.accuracy }}%</td>
                    {% if not user.accuracy_most_recent %}
                        <td>0.00%</td>
                    {% else %}
                        <td>{{ user.accuracy_most_recent.accuracy_count }}%</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% include 'partials/pager.html' with model=users request=request %}
    </div>
{% endblock %}
