{% extends 'statistical/index.html' %}
{% block main %}
    <div class="col-md-10">
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th class="text-center">Video</th>
                <th class="text-center">Correct answers/Total clips</th>
                <th class="text-center">Accuracy</th>
            </tr>
            </thead>
            <tbody>
                {% for video in videos %}
                <tr class="text-center">
                    <td><a href="{% url 'detail_video' video.id %}?return={{ videos.number }}">{{ video }}</a></td>
                    <td>{{ video.count_answer.total }} </td>
                    <td>{{ video.count_answer.accuracy }}%</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% include 'partials/pager.html' with model=videos %}
    </div>
{% endblock %}
