{% extends 'partials/index.html' %}

{% block content %}
    {% if request.user.is_authenticated %}
        <div class="flex">
            <h3 class="">Select training type:</h3>
            <form method="post" action="{% url 'index' %}" enctype="multipart/form-data" id="form_training_type">
                {% csrf_token %}
                <div class="form-group">
                    <select name="training_type" class="form-control" id="training_type">
                        {% for typeKey, typeValue in training_type %}
                           <option value="{{ typeKey }}">{{ typeValue }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group percent">
                    <select name="percent" class="form-control" id="percent">
                        <option value="">Select Percent</option>
                        {% for percentKey, percentValue in percent %}
                           <option value="{{ percentKey }}">{{ percentValue }}</option>
                        {% endfor %}
                    </select>
                </div>
                <input type="submit" value="Create" class="btn btn-primary pull-right">
            </form>
        </div>
    {% else %}
        <h3 class="text-center">Please <a href="{% url 'user_login' %}">Login</a> to take the test</h3>
    {% endif %}

{% endblock %}