{% extends 'partials/index.html' %}
{% block content %}
    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">User Login</h3>
            </div>
            <div class="panel-body">
{#                {% if messages %}#}
{#                    {% for message in messages %}#}
{#                      <div class="alert{% if message.tags %} alert-{{ message.tags }}{% endif %}">#}
{#                          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>#}
{#                            <strong>Errors!</strong> {{ message|safe }}#}
{#                      </div>#}
{#                    {% endfor %}#}
{#                {% endif %}#}
                <form method="post" action="{% url 'user_login' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="id_email" class="control-label">Email:</label>
                        <input type="text" name="email" class="form-control" id="id_email" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label for="id_password" class="control-label">Password:</label>
                        <input type="password" name="password" class="form-control" id="id_password" autocomplete="off">
                    </div>
                    <input type="submit" value="Login" class="form-control btn btn-primary">
                </form>
                <br>
                <a href="{% url 'user_register' %}" class="btn btn-block btn-success">Register</a>
            </div>
        </div>
    </div>
{% endblock %}